language: node_js
dist: trusty
addons:
  chrome: stable
node_js:
  - "5"
before_script:
  - npm install
  - export DISPLAY=:99.0; sh -e /etc/init.d/xvfb start +extension RANDR
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
script: npm run test
after_script:
  - echo 123123123123
  - cat ./dist/test-coverage/lcov/lcov.info
  - NODE_ENV=test cat ./dist/test-coverage/lcov/lcov.info | ./node_modules/coveralls/bin/coveralls.js
env:
  global:
    - SAUCE_USERNAME=smartfutureplayer
    - SAUCE_ACCESS_KEY=1602b39c-b8e2-41e8-8974-42ab3cc95dd5