/**
 * @file mip页面项目配置项
 * @author
 */

module.exports = {

    /**
     * 启动mip server调试的端口号
     *
     * @type {number}
     */
    port: 8000,

    /**
     * 本地mip网页后缀名，进行本地组件调试时会向页面注入本地组件
     *
     * @type {RegExp}
     */
    mipPageExt: /\.(?:html|htm|mip)$/i,

    /**
     * 本地mip组件调试目录，主要用于开发组件时进行本地调试，会自动将本地mip组件注入到当前访问的页面中去
     *
     * @type {string}
     */
    extensionsDir: '',

    /**
     * 本地mipmain调试目录，用于调试本地mipmain项目
     *
     * @type {string}
     */
    mipDir: '',

    /**
     * 启用调试页面自动刷新
     *
     * @type {boolean}
     */
    livereload: true
};
