mip-share {

    .share-head {
        font-size: 12px;
        color: #999;
        background: #f5f5f5;
        overflow: hidden;
    }
    .share-head p {
        box-sizing: border-box;
        position: relative;
        text-align: center;
        margin: 17px 17px 0;
    }
    .share-head p::before {
        content: '';
        border-bottom: 1px solid #ddd;
        width: 38%;
        position: absolute;
        top: 50%;
        left: 0;
    }
    .share-head p::after {
        content: '';
        border-bottom: 1px solid #ddd;
        width: 38%;
        position: absolute;
        top: 50%;
        right: 0;
    }

}




